@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal: #F2F4F8;
    --texto: #2D3436;
    --texto-inverso: #DFE6E9;
    --destaque: #E62429;
    --destaque-inverso: #005C99;
    --card: #FFFFFF;

    --montserrat: 'Montserrat', sans-serif;
}

body {
    background: var(--principal);
    color: var(--texto);
    font-family: var(--montserrat);
    line-height: 1.5em;
}

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background: var(--destaque);
    color: var(--texto);
    padding: 10px;
    position: sticky;
    top: 0;
}

#menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 7px;
    transition: background 0.3s, color 0.5s; /* serve para transição suave */
}

#menu a:hover {
    background: var(--destaque-inverso);
    color: var(--texto-inverso);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

#ficha {
    grid-column: 2;
    background: var(--card);
    padding: 20px;
    border-radius: 8px;
}

#ficha .foto {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 200px;
    aspect-ratio: 1/1; /* mantém a proporção quadrada */
    object-fit: cover; /* cobre todo o espaço disponível */
    overflow: hidden; /* esconde o conteúdo excedente */
    border-radius: 50%;
    border: 5px solid var(--card);
    outline: 5px solid var(--destaque); /* contorno em destaque */
}

#ficha h1 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.8em;
    color: var(--destaque);
}

#ficha p {
    text-align: justify;
}

#ficha > div a {
    color: var(--destaque);
}

#ficha > div a:hover {
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

.social {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    gap: 1em;
    margin-top: 10px;
}

.detalhes {
    grid-column: 2;
}

article {
    background: var(--card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    margin-bottom: 20px;
    color: var(--destaque);
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.07);
}

.info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.barra {
    grid-column: 2;
    background: var(--principal);
    width: 100%;
    height: 8px;
    border-radius: 4px;
}

.progresso {
    background: var(--destaque-inverso);
    height: 100%;
    border-radius: 8px
}

.formacao-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.curso {
    background: var(--principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition: background 0.5s, color 0.5s;
}


.curso:hover {
    background: var(--destaque-inverso);
    color: var(--texto-inverso);
    border-left: 5px solid var(--texto-inverso);
    cursor: pointer;
}

.periodo {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--texto);
    margin-bottom: 5px;
}

.curso:hover .periodo {
    color: var(--texto-inverso);
    transition: color 0.5s;
}

.instituicao {
    color: var(--destaque-inverso);
    font-size: 1.1em;
    font-weight: bold;
}

.curso:hover .instituicao {
    color: var(--texto-inverso);
    transition: color 0.5s;
}

.projeto-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.projeto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition: border-color 0.5s, border-width 0.5s;
}

.projeto:hover {
    border-color: var(--destaque);
    border-width: 15px;
    cursor: pointer;
}

.foto {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

footer {
    background: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 15px;
}

footer a {
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s;
}

footer a:hover {
    color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
    .info > .nome {
        font-size: 1.2em;
    }

    .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .projeto-info {
        width: 80%;
    }

    .foto {
        aspect-ratio: 1/1;
        max-width: 20%;
        max-height: 200px;
    }
}